.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  // & 符号是父选择器引用，可以引用当前选择器或父选择器来构建新的选择器
  &.disabled, // 1. 当元素具有 'disabled' 类时
  &[disabled] { // 2. 当元素具有 'disabled' 属性时
    cursor: not-allowed; // 设置鼠标光标为 'not-allowed'，表示用户不能与元素交互
    opacity: $btn-disabled-opacity;
    box-shadow: none; // 移除元素的阴影效果
    > *{ // 选择直接子元素（在SCSS中，> 是一个选择器，称为子组合器（child combinator），它用来选择一个元素的直接子元素）
      pointer-events: none;  // 移除子元素的鼠标事件（如点击），防止用户与它们交互
    }
  }
}

.btn-lg{
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $border-radius-sm);
}

.btn-primary {
  @include button-style($primary, $primary, $white)
}

.btn-danger {
  @include button-style($danger, $danger, $white)
}

.btn-default {
  @include button-style($white, $gray-400, $body-color, $white, $primary, $primary)
}

.btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  // 在css中, :hover是一个伪类选择器，用于当用户将鼠标悬停在指定元素上时，应用一组样式规则
  // .hover不是一个标准的css选择器。在某些情况下，.hover可能是一个类名，用于在鼠标悬停是应用样式。但这通常是通过Javascript动态添加到元素上的
  &:hover{
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus,
  &.focus{
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled{
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}